*{
    margin: 0%;
    padding: 0%;
}

html body {
    background-color: rgb(1, 45, 41);
}

header {
    background-color: rgb(74, 115, 227);
    height: 90px;
    width: 1600px;
}

header h1 {
    font-family: cursive;
    color: aliceblue;
    text-shadow: 2px 2px 2px black;
    padding-left: 20px;
}

header p {
    color: white;
    font-size: 22px;
    font-family: cursive;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 400px;
    margin: 100px auto;
    padding: 20px;
    background-color: bisque;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

input {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.signup-btn {
    padding: 10px;
    background-color: #3984a4;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
form a{
    text-align: center;
}

.signup-btn:hover {
    background-color: #45a049;
}

p {
    text-align: center;
    margin-top: 10px;
    padding-left: 10px;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}